body {
  margin: 0;
  padding: 0;
  background-color: #D3D3D3; /* Soft gray background for the body */
  font-family: Arial, sans-serif;
}

.header {
  background-color: #575757; /* Darker gray for the header */
  color: #fff; /* White text color for the header */
  padding: 20px;
  text-align: center;
}

div {
  margin: 0;
  padding: 0;
  background-color: #D3D3D3; /* Soft gray background for the body */
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 24px;
}

.main {
  background-color: #e0e0e0; /* Softer gray for the main content */
  padding: 20px;
}

.page-navigation-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.page-navigation {
  display: flex;
  align-items: center;
}

.page-navigation button {
  margin: 0 10px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

.centered-input {
  text-align: center;
  width: 40px;
}